body {background-color: #eee}
a {color: #e8000d;
font-size: 1.2em;}

.bann {background-color: #898;
margin-top: 1.4em;
border-top: .9em;
padding-left: 1em;
padding-top: .9em;
transform: translateY(-50%);
height: 2em;}

.bann a {color: #e22;}

.navbox {padding: 0.5em;
		 #padding-top: 1.5em;
		 text-align: center;
		 border-radius: 25px;
width: 30%;
align: float;
background-color: #cdc;
border: 5px solid #bcb;
color: #888;
font-weight: bolder;}

.navbox hr {border: 3px solid #bcb;}

.gallery {max-width: 90%;
padding-top: 0.8em;
padding-bottom: 1.2em;
}

.gallery img {
    max-width: 20%;
    border: 6px solid #bbb;
    margin: 0.25em;}

.desc {
padding: 1em;
max-width: 50%;
background-color: #ffa;
border-top: 6px solid black;}

table {border-collapse: collapse;
	   border: 2px solid #000;
	   width: 60%;}

th, td {border: 1px solid #000;
		line-height: 1.3em;
		background-color: #ffb;
		padding: 4px}